
<!DOCTYPE html>
<html>
<head>
	<title>Nature's Palette: Upload data</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="full-container upload-container">
		<h1 class="topbar col-lg-12 no-padding">Submission Steps</h1>
		<div class="submission-instructions">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
			</p>

			<p>
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<div class="sample-files col-lg-12 no-padding-left">
				<h3>Sample Files</h3>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>File Type</th>
							<th>Sample</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Template for Reflectance Metadata</td>
							<td>		
								<a href="#" target="_blank">Field</a> | 
								<a href="#" target="_blank">Museum</a>
							</td>
						</tr>

						<tr>
							<td>Template for Transmittance Metadata</td>
							<td>		
								<a href="#" target="_blank">Field</a> | 
								<a href="#" target="_blank">Museum</a>
							</td>
						</tr>

						<tr>
							<td>Template for Irradiance Metadata</td>
							<td>		
								<a href="#" target="_blank">Field</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- /sample-files -->

			<input id="agreed" type="checkbox" name="agreed">
			<label id="agree-label" for="agreed">&nbsp; I agree with the terms and conditions</label>
			<br>
			<button type="button" class="btn btn-primary start-upload-steps">Start</button>
		</div> <!-- /submission-instructions -->


		
		<div class="upload-steps col-lg-12 no-padding hidden">
			<div class="steps col-lg-12 no-padding">
				<h4 class="selected"><span>1</span> Basic Information</h4>
				<h4><span>2</span> Upload Files</h4>
			</div> <!-- /steps -->

			<form id="upload-form" class="basic-form col-lg-12" method="post" action="" enctype="multipart/form-data">
				<div class="basic-information">
					<div class="row form-full-row">
						<h3 class="label col-lg-12 no-padding">Name <span class="required">*</span></h3>
						<div class="clearfix"></div>
						<div class="form-field col-lg-6 no-padding-left">
							<input type="text" name="f_name" placeholder="First Name" required>
						</div>

						<div class="form-field col-lg-6">
							<input type="text" name="l_name" placeholder="Last Name" required>
						</div>
					</div> <!-- /row -->


					<div class="row form-full-row">
						<div class="form-field col-lg-6 no-padding-left">
							<h3 class="label col-lg-12 no-padding">Email <span class="required">*</span></h3>
							<input type="email" name="email" placeholder="E-mail" required>
						</div>

						<div class="form-field col-lg-6">
							<h3 class="label col-lg-12 no-padding">Institution Affiliation</h3>
							<input type="text" name="institution" placeholder="Institution Affiliation">
						</div>
					</div> <!-- /row -->


					<div class="row form-full-row">
						<div class="form-field col-lg-6 no-padding-left">
							<h3 class="label col-lg-12 no-padding">Type of Data <span class="required">*</span></h3>
							<select name="data_type" required>
								<option value="">Choose from list</option>
								<option value="transmittance">Transmittance</option>
								<option value="reflectance">Reflectance</option>
								<option value="irradiance">Irradiance</option>
							</select>
							<span class="foot-note">Choose data type from the list - Transmittance, Reflectance, Irradiance</span>
						</div>

						<div class="form-field col-lg-6">
							<h3 class="label col-lg-12 no-padding">Data From <span class="required">*</span></h3>
							<select name="data_from" required>
								<option value="">Choose from list</option>
								<option value="field">Field</option>
								<option value="museum">Museum</option>
							</select>
							<span class="foot-note">Data was collected from field or museum</span>
						</div>
					</div> <!-- /row -->


					<div class="row form-full-row">
						<div class="form-field col-lg-6 no-padding data-status">
							<h3 class="label col-lg-12 no-padding">Have data been published?</h3>
							<input id="got-published" type="radio" name="published" data-val="yes" value="yes"><label for="got-published">&nbsp; Yes</label>
							&nbsp;&nbsp;
							<input id="not-published" type="radio" name="published" data-val="no" value="no" checked><label for="not-published">&nbsp;No</label>
							<div class="sub-fields-container"></div>
						</div>

						<div class="form-field col-lg-6 embargo-status">
							<h3 class="label col-lg-12 no-padding">Embargo?</h3>
							<input type="radio" id="got-embargo" name="embargo" data-val="yes" value="yes"> <label for="got-embargo">&nbsp;Yes</label>
							&nbsp;&nbsp;
							<input type="radio" id="no-embargo" name="embargo" data-val="no" value="no" checked><label for="no-embargo">&nbsp;No</label>

							<div class="sub-fields-container"></div>
						</div>
					</div> <!-- /row -->
				</div> <!-- /basic-information -->




				<div class="upload-files no-padding hidden">
					<div class="form-field">
						<h3 class="label col-lg-12 no-padding">Metadata File <span class="required">*</span></h3>
						<button type="button" class="btn btn-primary trigger-input hidden">Upload</button>
						<input type="file" id="upload-metadata" name="metadata" class="metadata-input">
						<span class="upload-note"><em></em>Upload file that contains metadata for the raw files</span>
					</div>


					<div class="form-field">
						<h3 class="label col-lg-12 no-padding">Raw Files <span class="required">*</span></h3>
						<button type="button" class="btn btn-primary trigger-input hidden">Upload</button>
						<input type="file" id="upload-rawdata" name="rawdata" class="rawdata-input">
						<span class="upload-note"><em></em>Upload raw files into a zip format</span>
					</div>
				</div> <!-- /upload-files -->


				<div class="buttons-container">
					<button type="button" id="go-next" class="btn btn-primary go-next">Next</button>
					<button type="button" class="btn btn-primary go-back hidden">Back</button>
					<button type="submit" id="submit-form" name="submit" class="btn btn-primary submit hidden">Submit</button>
				</div>
			</form>
		</div> <!-- /upload-steps -->
	</div> <!-- /upload-container -->

	<script src="js/script.js"></script>
</body>
</html>