<html>
<style>
	form { width: 500px; }
	select,input { display: block; margin-bottom: 15px;}
	input[type="radio"] { display: inline; }
</style>
<form id="upload-form" method="post" enctype="multipart/form-data">
	<input type="text" name="f_name" placeholder="first name" required>
	<input type="text" name="l_name" placeholder="last name"required>
	<input type="email" name="email" placeholder="Email"required>
	<input type="text" name="institution" placeholder="Institution Affiliation">
	<select name="data_type" required>
		<option value="">Choose from list</option>
		<option value="transmittance">transmittance</option>
		<option value="reflectance">reflectance</option>
		<option value="irradiance">irradiance</option>
	</select>
	<select name="data_from" required>
		<option value="">Choose from list</option>
		<option value="field">Field</option>
		<option value="museum">Museum</option>
	</select>
	
	<label>Have the data been published?</label><br>
	<input type="radio" name="published"> yes
	<input type="radio" name="published">no
	<br>
	<input type="text" name="reference" placeholder="Reference"required>
	<input type="text" name="doi" placeholder="DOI"required>
	<br>
	
	<label>Embargo?</label>
	<br>
	<input type="radio" name="embargo"> yes
	<input type="radio" name="embargo">No
	<input type="date" name="date" placeholder="date">

	<label>Metadata file</label>
	<input type="file" name="metadata">
	<label>Raw files</label>

	<input type="file" name="rawdata" multiple>
	<input type="submit" name="submit" value="submit">
</form>
</html>