<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>asda</p>
<% 
            if(typeof messages!="undefined")
            {
        %>
            <h2 style="color:#337ab7; font-weight:bold;"><%- messages() %></h2>
        <% 
            }
        %>
</body>
</html>